@import "custom_bootstrap";
@import "styles";
@import url("https: //fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.custom-middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.approved {
    background-color: #15d4a150;
    color: #15d4a1;
}

.inprogress {
    background-color: #0060ff20;
    color: #0060ff;
}

.rejected {
    background-color: #ff0e4620;
    color: #ff0e46;
}

.enabled-input {
    background-color: #fafafa;
    height: 2rem;
    border-radius: 5px;
    border: none;
}

.disabled-input {
    height: 2rem;
    outline: none;
    border-radius: 5px;
    border: none;
}