@import "custom_bootstrap";
@import "styles";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@font-face {
    font-family: "MyriadProLight";
    font-weight: normal;
    src: url("/src/assets/font/MyriadPro-Light.otf");
}

@font-face {
    font-family: "MyriadProSemiBold";
    font-weight: normal;
    src: url("/src/assets/font/MYRIADPRO-SEMIBOLD.OTF");
}

body {
    position: relative;
    font-family: "MyriadProSemiBold", sans-serif;
    background-color: $primary;
    color: white;
    &::-webkit-scrollbar {
        display: none;
        scrollbar-width: none;
    }
    background-color: $primary;
}

main {
    min-height: 100vh;
    min-width: 100vh;
}

.approved {
    background-color: rgba($color: $custom-green, $alpha: 0.125);
    color: $success;
}

.completed {
    background-color: rgba($color: $custom-purple, $alpha: 0.125);
    color: $custom-purple;
}

.inprogress {
    background-color: #0060ff20;
    color: #0060ff;
}

.rejected {
    background-color: #ff0e4620;
    color: #ff0e46;
}

.waiting {
    background-color: rgba($color: #ffbf0e, $alpha: 0.125);
    color: #ffbf0e;
}

.enabled-input {
    background-color: #fafafa;
    height: 2rem;
    border-radius: 5px;
    border: none;
}

.disabled-input {
    height: 2rem;
    outline: none;
    border-radius: 5px;
    border: none;
}

.task-completed {
    text-decoration: line-through;
    color: $custom-dark-blue;
}

@import "checkbox";