@import "custom_bootstrap";
@import "styles";
.approved {
    background-color: #15d4a150;
    color: #15d4a1;
}

.inprogress {
    background-color: #0060ff20;
    color: #0060ff;
}

.rejected {
    background-color: #ff0e4620;
    color: #ff0e46;
}

.enabled-input {
    background-color: #fafafa;
    height: 2rem;
    border-radius: 5px;
    border: none;
}

.disabled-input {
    height: 2rem;
    outline: none;
    border-radius: 5px;
    border: none;
}

.completed {
    text-decoration: line-through;
    color: $primary;
}

@import "checkbox";